<div>
  <a href="/tacos" class="btn btn-primary">View All Tacos</a>
  <a href="/users" class="btn btn-primary">View All Users</a>
  <a href="/tacos?filter=true" class="btn btn-primary">View My Tacos</a>
</div>
